<%- include("../partials/header.ejs") %>
<h1>Teams</h1>
<section class="teams-container">
  <% teams.forEach(function(team) { %>
    <a href="/teams/<%= team._id %>">
      <article class="centered-content">
        <%= team.name %>
      </article>
    </a>
  <% }); %>
</section>
<%- include("../partials/footer.ejs") %>