<!DOCTYPE html>
<html>
<head>
  <title>Whats Your Favorite Team</title>
</head>
<body>
  <h1>Select Your Favorite Team</h1>
  <form action="/team/favorite" method="POST">
    <select name="teamId">
      <% teams.forEach(function(team) { %>
        <option value="<%= team._id %>"><%= team.name %></option>
      <% }); %>
    </select>
    <button type="submit">Select Team</button>
  </form>
</body>
</html>

