<!DOCTYPE html>
<html>
<head>
  <title>Welcome to NFL Fanatics</title>
</head>
<body>
  <h1>Welcome to NFL Fanatics</h1>
  <a href="/teams/new">Click Here to Select Your Favorite Team</a>
  <br>
  <a href="/auth/login">Log In/Sign Up to Access Features</a>
</body>
</html>
