<!DOCTYPE html>
<html>

<head>
    <title>Welcome to NFL Fanatics</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body class="home-page centered-content">
    <h1>Welcome to NFL Fanatics</h1>
    <div class="links">
        <a href="/auth/sign-up">SIGN UP</a>
    </div>
    <div class="links">
        <a href="/auth/login">LOG IN</a>
    </div>
</body>

</html>