<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whats your Favorrite Team</title>
</head>
<body>
    
</body>
<h1>Pick your Favorite Team</h1>
</html>